.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 1600px;
  margin: 0 auto;
  color: black;
}

.item:hover {
  border-color: ghostwhite;
  background-color: whitesmoke;
}

.search {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-input {
  border: 3px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  width: 20%;
}

.search-button, .clear-button {
  border-radius: 3px;
  border: 3px solid rgba(0, 0, 0, 0.03);
  font-family: Roboto;
}

.hl {
  background: red;
}

@media screen and (max-width: 420px) {
  .container {
    grid-template-columns: 1fr;
  }
}